/* -------body--------- */

body{
  background-color:#F7F2F0;
  margin: 0;
  /* -webkit-appearance: none; */
}



/* -------header--------- */

.header_1{
height: 40px;
padding: 8px;
background-color: rgb(248,248,248);
border-bottom: solid 1px rgb(229,231,235);
text-align: center;
max-width: 100%;
}

.header_logo{
  height: 40px;
}

.header_2{
  height: 36px;
  padding: 8px;
  background-color: #fff;
  border-bottom: solid 1px rgb(229,231,235);
  display: flex;
  justify-content: center;
  align-items: center;
}





/* -------main-------- */


#app {
  width: 96%;
  padding: 28px;
  max-width: 500px;
  margin: 40px auto;
}

label {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  border: 0;
  box-shadow: none;
  color: #ffffff;
  font-size: 1rem;
  background-color: #E88D80;
  cursor: pointer;
}

input {
  display: none;
}






/* -------footer--------- */

/* .footer{
  position: fixed;
  bottom: 0;
  height: 62px;
  box-sizing: border-box;
  padding: 0 8px;
  background-color: rgb(248,248,248);
  border-top: solid 1px rgb(229,231,235);
  text-align: center;
  width: 100%;
}

.footer_list{
  width: 20%;
}

.footer-icons{
  display: flex;
  justify-content: space-evenly;
  font-size: 0.875rem;
  margin: 0;
  padding: 10px 0;
}

.footer-icons img{
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

}

.footer-icons p {
  margin: 0;
  padding: 0;
} */
